<div class="row" align="center">
  <h2 align="center">Register</h2>
  <p>Please complete the following registration form in order to complete the
  <span lang="en-gb">Child Protection </span>Refresher Training Programme. </p>
	<p>On registration you will receive an email to authenticate your account.</p>
  <form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="51gafA0wGsLXpJISFFyYZK1G9xo5ag96DrpGZ93CEvV7WmUmi4zCqfjx5wJLIzwG">

      <p>
        <label for="id_username">Name:</label><br>
        <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">

      </p>

      <p>
        <label for="id_email">Email address:</label><br>
        <input type="email" name="email" maxlength="254" id="id_email">

      </p>

      <p>
        <label for="id_password1">Password:</label><br>
        <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">

      </p>

      <p>
        <label for="id_password2">Password confirmation:</label><br>
        <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">

      </p>
          <button type="submit">Register</button>
  </form>
</div>

</body>

</html>
